<div class="card-detail">
    <h1>{{product.productName}}</h1>
    <p>{{product.price}} €</p>
    <p>{{product.colours}}</p>

    <div class="sizes">
        <input type="checkbox" id="sizeXS" name="sizeXS" value="xs">
        <label for="sizeXS">XS</label><br>
        <input type="checkbox" id="sizeS" name="sizeS" value="s">
        <label for="sizeS">S</label><br>
        <input type="checkbox" id="sizeM" name="sizeM" value="m">
        <label for="sizeM">M</label><br>
        <input type="checkbox" id="sizeL" name="sizeL" value="l">
        <label for="sizeL">L</label><br>
        <input type="checkbox" id="sizeXL" name="sizeXL" value="xl">
        <label for="sizeXL">XL</label><br>
    </div>

    <p>Your recommended size is -SIZE-</p>

    <button type="button">Add to cart</button>
</div>
