@import '/src/scss/variables';
@import '/src/scss/mixins';

.card {
    padding: 1.5rem;
    margin: 2.5rem 0;
    background-color: $light-almond;
    img {
        margin: 1rem auto;
    }
    button {
        width: 100%;
    }
}