<div class="card" *ngFor="let product of prodList">
  <div
    class="thumbnail"
    [style.background-image]="'url(/assets/imgs/' + product.thumbnail + ')'"
  ></div>
  <h2>{{ product.productName }}</h2>
  <p>{{ product.price }} €</p>
  <div class="colours">
    <div [style.background-color]="product.colours[0]"></div>
    <div [style.background-color]="product.colours[1]"></div>
    <div [style.background-color]="product.colours[2]"></div>
  </div>
  <button
    class="btn-primary"
    type="button"
    [routerLink]="['/product-detail', product.id]"
  >
    Shop now!
  </button>
</div>
