<div class="form">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your first name</mat-label>
                <input matInput type="text" ngModel id="firstname" name="firstname" placeholder="first name" autofocus required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your last name</mat-label>
                <input matInput type="text" ngModel id="lastname" name="lastname" placeholder="last name" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your email</mat-label>
                <input matInput type="email" ngModel id="email" name="email" placeholder="example@email.com" required>
                <i matSuffix class="bi bi-envelope-fill"></i>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your phone number</mat-label>
                <input matInput type="phone" ngModel id="phone" name="phone" placeholder="phone number" required>
                <i matSuffix class="bi bi-telephone-fill"></i>
            </mat-form-field>
        </div>
     
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose password</mat-label>
                <input matInput type="password" ngModel id="password" name="password" placeholder="enter your password" required>
                <i matSuffix class="bi bi-key-fill"></i>
                <mat-hint><a href="">password requirements</a></mat-hint>
            </mat-form-field>
        </div>

        <div class="btn-container">
            <button class="btn-primary" type="submit">Sign Up</button>
            <div *ngIf="error" class="error">
                <p>{{error}}</p>
            </div>
            <p>or</p>
            <button class="btn-secondary" type="button" [routerLink]="['/login']">Login</button>
        </div>
    </form>
    
</div>


