@import '/src/scss/variables';
@import '/src/scss/mixins';

#footer-container {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $blue-grey;
    padding: 1rem;
    &, a {
        color: $light-almond;
    }
    a {
        text-decoration: none !important;
        &:hover {
            text-decoration: underline !important;
        }
        &:active {
            color: $dark-mint;
        }
    } 
    & > p {
        text-align: center;
        font-size: 0.8rem;
        a {
            text-decoration: underline !important;
        }
    }
}

#footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include screen-min($screen-m){
        flex-direction: row;}
}

#footer-txt {
    display: inline-flex;
    flex-wrap: wrap;
    div {
        width: 8.5rem;
    }
    .title {
        font-size: $font-size-s;
        font-weight: bold;
    }
}

#footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
    @include screen-min($screen-m){
        flex-direction: column;
    }
    #badge {
        background-color: $light-almond;
        border-radius: 10px;
        border: 1px solid $dark-brown;
        p {
            color: $blue-grey;
            margin: 1rem;
        }
    }
    div:last-child {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        i {
            font-size: $font-size-m;
        }
    }
}