<mat-nav-list>
    
    <p>SHOP</p>
    <div class="subMenu">
        <p><a mat-list-item [routerLink]="['/products', 'type', 'dresses']" routerLinkActive="router-link-active" >dresses</a></p>
        <p><a mat-list-item [routerLink]="['/products', 'type', 'bottoms']" routerLinkActive="router-link-active">bottoms</a></p>
        <p><a mat-list-item [routerLink]="['/products', 'type', 'tees']" routerLinkActive="router-link-active">tees & tops</a></p>         
    </div>

    <div>
        <a mat-list-item href="#">SUSTAINABILITY</a>  
        <a mat-list-item href="#">ABOUT</a>   
        <a mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active" >HOME</a>
    </div>
    
</mat-nav-list>