@import 'src/scss/variables';
@import 'src/scss/mixins';

p {
    font-size: 1.5rem;
}

a {
    font-family: $font-sans-serif !important;
    text-decoration: none;
    font-size: $font-size-m !important;
    @include screen-min($screen-m){
        font-size: $font-size-s !important;}
    &:hover, .router-link-active {
        color: $light-almond;
        font-size: 180% !important;
        @include screen-min($screen-m){
            font-size: 120% !important;}
    }
}

.subMenu{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $dark-grey;
    p {
        line-height: 1em;
        @include screen-min($screen-s){
            line-height: 1.2em;}
        a:hover {
            background-color: transparent !important;
        } 
    }
}