button {
    border-radius: 2px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: $font-size-s;
    text-transform: lowercase;
    margin: 1rem 0;
}

.btn-primary {
    border: none;
    color: $blue-grey;
    background-color: $brown;
    &:hover {
        box-shadow: 2px 2px 4px 1px $blue-grey;  
    }
    &:active {
        transform: translateY(0.5px);
    }
}

.btn-secondary {
    border: 2px solid $dark-brown;
    background-color: transparent;
    color: $dark-brown;
    &:hover {
        background-color: $dark-almond;  
    }
    &:active {
        transform: scale(99%) ;
    }
}

.nav-btn {
    background-color: $sage;
    border: transparent;
    padding: 0;
    i {
        font-size: $font-size-m;
    }
    &:hover, &:active {
        color: $almond;
    }
}

.icon-btn {
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background-color: $mint;
    padding: 0;
    a {
        color: $blue-grey;
        font-size: $font-size-s;
        text-decoration: none;
    }
}