.form-container {
    width: 50%;
    margin: 0 auto;
    background-color: $light-almond;
    margin-top: 4rem;
    border-radius: 2px;
    text-align: center;
}

.form {
    margin: 3rem auto;
    width: fit-content;
    mat-form-field {
        width: 30vw;
        align-items: center !important;
        i {
            font-size: $font-size-xs;
        }
        mat-label {
            color: $dark-brown;
        }
    }
    button {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
    }
    .error {
        padding: 0.2rem;
        border: 1 px solid rgb(104, 12, 12);
        border-radius: 4px;
        width: 100%;
        background-color: rgb(250, 196, 196);
        p {
            color: rgb(104, 12, 12);
        }
    }
}




