/* ----------- font ----------- */
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-sans-serif: Arial, Helvetica, sans-serif;
$font-size-xs: 1rem;
$font-size-s: 1.5rem;
$font-size-m: 2rem;
$font-size-l: 3rem;

/* ----------- colours main ----------- */
$mint: #b8d1b7;
$sage: #86B197;
$blue-grey: #384b45;
$brown: #D0802E;
$almond: #EFCAA5;
$light-almond: #fcf4d1;

$light-grey: #d8d8d8;
$dark-grey: #242424;
$grey: #9aa5a3;

/* ----------- colours dark ----------- */
$dark-mint: #91BB90;
$dark-sage: #668C75;
$dark-brown: #995f25;
$dark-almond: #facea2;