<div id="panel">
    <div>
        <button type="button"><a href="#"><span class="iconify" data-icon="icon-park-solid:shopping-bag-one"></span></a></button>
    </div>
    <div>
        <button type="button"><a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="iconify" data-icon="ri:login-circle-fill"></span></a></button>
    </div>
    <div>
        <button type="button"><a href="#" [routerLink]="['/profile/:id']" routerLinkActive="router-link-active" ><span class="iconify" data-icon="fa:user"></span></a></button>
    </div>
</div>