@import "/src/scss/variables";
@import "/src/scss/mixins";

#panel {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  @include screen-min($screen-s) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#login {
  button {
    width: fit-content;
    align-self: flex-end;
    margin: 0 0 0.5rem 0;
    @include screen-min($screen-s) {
      margin-right: 0.5rem; 
    }
  }
}

.icon-btn {
  margin: 0.5rem 0;
  @include screen-min($screen-s) {
    margin: 0.5rem; 
  }
}
