@import '/src/scss/variables';

#panel {
    display: flex;
    justify-content: space-between;
}

#login {
    margin-right: 1rem;
    button {
        background-color: $light-almond;
        width: 6rem;
        a {
          color: $dark-brown;
        }
        &:active {
            background-color: $dark-almond;
        }
        i{
            display: none;
        }
    &:hover{
        i{
            display: inline;
        }
    }
    }
}